@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Meddon');

body {
    margin: 0px;
    padding: 0px;
}

h1 {

}

h2 {
    font-family: 'Raleway', sans-serif; 
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: 15px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;    
    letter-spacing: 15px;
}

h4 {
    font-family: 'Meddon', cursive;
    font-weight: 100;
    text-align: center;
    font-size: 1.5em;
    
}

h5 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    
}

a {
    color: rgb(29, 27, 27);
    
}

a:link {
    text-decoration: none;
}

a:visited {
    color: rgb(29, 27, 27);
}

/*Allt i body*/
.page {
    display: flex;
    flex-direction: column;
    }

/*Header*/
header {
    display: flex;
    flex-direction: column;

    background-color: #f1f0ed;
}

.banner {
    font-family: 'Meddon', cursive;
    letter-spacing: 5px;
    text-align: center;
    font-size: 1em;
    margin-top: 30px;
}

.macpic {
    margin: 0px;
    padding: 0px;
}

.name {
    margin: 0px;
    padding: 0px;
}

.tagline {

}

/*Navbar Style*/
.navbar {
    font-family: 'Raleway', sans-serif;  
    background-color: white;
    font-size: 0.8em;    
}

ul {
    list-style-type: none;
    margin-left: 60px;    
    display: flex;

}

li {
    flex: 1;
    height: auto;
}

li a {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(29, 27, 27);
}

li a:hover {
    color: rgb(224, 180, 188);

    
}

/*Hero image*/
.hero {
    background: url(../img/hero_.jpeg) no-repeat 50% 50%;
    height: 100vh;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;
}
    

/*Innehåll på sidan*/ 
main{ 
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;

    background-color: lightgray;
    
    }

.bio {
    width: 50%;
    margin: auto;
}

.places {
    background-color: darkgray;
    color: white;
    padding: 0px;
    margin: 0px;
}

.places h5 {
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 12px;
    padding-top: 0px; 
    margin-top: 0px;
}


.curriculum {
    background-color: rgb(247, 232, 234);
    text-align: center;
    padding: 30px;
}

.curriculum img {
    width: 70%;
}

.checkout {
    font-size: 1.2em;
    letter-spacing: 10px;
    line-height: 200%;
}

.gallery {
    display: flex;
    
    padding: 30px;
    text-align: center;
    background-color: white;
}

.project {
    flex: 1;
    height: auto;

    border: double 5px black;
    margin: 50px;
    padding: 20px;
}

.project h4 {
    padding-bottom: 7px;
    margin-bottom: 0px;
}

.project h5 {
    letter-spacing: 3px;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 0.7em;
    font-weight: 100;
}


.favs {
    background-color: rgb(247, 232, 234);
    text-align: center;
    padding: 20px 0px 50px 0px;
}

.favs a {
    padding: 0px 20px 50px 20px;
}

.favPic {
    width: 15%;
}

.quote {
    background-color: darkgray;
    
}

.quote h5 {
    color: white;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 12px;
    line-height: 200%;
}


/*CONTACT AREA*/

.contact {
    background-color: #f1f0ed;
    /*background-color: rgb(248, 234, 237);*/
}

.contactWrapper {
    border: solid 2px #acaaa3;
    width: 60%;
    margin: 60px auto;
    color: #acaaa3;
}

/*Contact form*/
form {
    max-width: 60vw;
    margin: auto;    
    padding: 50px;
    color: #acaaa3;
    font-family: 'Raleway', sans-serif;
}

.keep {
    font-size: 3em;
    margin-bottom: 0px;
}


input[type=text], textarea {
    width: 100%;
    height: 30px;
    padding: 3px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white; 
}

input[type=text]:focus {
    border: 1px solid #acaaa3;
}

input[type=number] {
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
}

textarea {
    height: 100px;
    border: 1px solid  #acaaa3;
}


/*knappen på kontaktformuläret*/

input[type=submit] {
    background-color: white;
    color:  #acaaa3;
    padding: 12px 20px;
    border: 1px solid  #acaaa3;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:  #acaaa3;
    color: white;
}


/*FOOTER AREA*/

footer {
    display: flex;
    flex-direction: column;

    background-color: darkgray;
    text-align: center;

    }

.footersocial {
    display: flex;
   

    padding: 30px;
}

.column {
    flex: 1;
    height: auto;
    
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
     
}

.column a {
    color: rgb(29, 27, 27);
    font-size: 0.8em;
}

.social {
    border: solid 1px rgb(29, 27, 27);
    padding: 5px;
    margin: 0px 5px;  
}

/* Clear floats after the columns */
.social:after {
    content: "";
    display: table;
    clear: both;
}

/*Mobilanpassad*/
@media (max-width: 400px) {

    ul {
        display: block;
        padding: 10px 0px;
        margin: 0;
        text-align: center;
      }
    
    li {
        padding: 5px 0px;
    }

    .macpic {
        width: 10%;
    }
    
    .name {
        font-size: 1.3em;
    }

    .bio {
        width: 80%;
        margin: auto;
    }

    .checkout {
        font-size: 1em;
    }

    .gallery {
        display: block;
    }

    .favpic {
        padding: 5px 0px;
    }

    .quote h5 {
        padding: 5px 15px;
    }

    .footersocial {
        display: block;
    }
  
    .keep {
        font-size: 1.5em;
    }

  }